version: '3'
services:
  krakend:
    image: 'sberthu/krakend'
    build: .
    restart: always
    volumes:
      - '/docker/share:/share'
      - '/docker/apache/ssl:/ssl'
      - './Paris:/etc/localtime'
      - './timezone:/etc/timezone'
      - './conf.d:/etc/krakend'
    extra_hosts:
      alpine: 192.168.0.47
    environment:
      - FC_ENABLE=1
      - FC_SETTINGS=/etc/krakend/settings/
      - FC_PARTIALS=/etc/krakend/partials/
      - FC_TEMPLATES=/etc/krakend/templates/
      #- FC_OUT=/share/krakend.log
    ports:
      - '8090:8090'
    networks:
      - sberthu/network
    command: 'run -d -c krakend.json'
networks:
     sberthu/network:
        external: true
                


