"method": "POST",
"querystring_params": [
    "*"
],
"headers_to_pass": [
    "Content-Type",
    "Content-Length",
    "Authorization",
    "Accept",
    "Accept-Encoding",
    "x-user",
    "x-scopes"
],